<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modifica Studente</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Modifica Studente</h1>
<form th:action="@{'/edit/' + ${student.id}}" method="post">
    <input type="hidden" id="id" name="id" th:value="${student.id}">
    <label for="name">Nome:</label><br>
    <input type="text" id="name" name="name" th:value="${student.name}"><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" th:value="${student.email}"><br>
    <label for="phone">Telefono:</label><br>
    <input type="text" id="phone" name="phoneNumber" th:value="${student.phoneNumber}"><br><br>
    <input type="submit" value="Salva Modifiche">
</form>

  
</body>
</html>
